element.style {
}
.b-comment_tuning .b-comment__message {
    font: 400 15px/1.3 'PT Sans',Ubuntu,Arial,Helvetica,sans-serif;
    color: #222;
    margin-top: 8px;
}
.b-comment .b-comment__message {
    margin: 0;
    min-height: 20px;
    padding: 0 0 6px;
}
user agent stylesheet
dd {
    display: block;
    margin-inline-start: 40px;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.b-comments-list {
    list-style: none;
    padding: 10px;
    margin: 0;
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.b-stripe {
    margin: 0 auto;
    padding: 0 10px;
    text-align: left;
}
.b-stripe {
    margin: 0 auto;
    padding: 0 10px;
    text-align: left;
}
.b-page__in {
    width: 980px;
    margin: auto;
    cursor: default;
    cursor: auto;
}
body {
    min-width: 980px;
    color: #222;
    font: 13px/1.3846 Ubuntu,Arial,Helvetica,sans-serif;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    margin: 0;
    background:#f7f7f7;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background:#f7f7f7;
}
/*BootsTrap*/
@media (max-width: 1000px){
    .b-comments-list__item{
        width: 700px;
    }
    body {
        font-size: 13px;
    }
    .b-comment .b-comment__message {
        font-size: 13px;
    }
}
@media (max-width: 720px){
    .b-comments-list__item{
        width: 600px;
    }
    body {
        font-size: 11px;
    }
    .b-comment .b-comment__message {
        font-size: 11px;
    }
}
@media (max-width: 640px){
    .b-comments-list__item{
        width: 500px;
    }
    body {
        font-size: 9px;
    }
    .b-comment .b-comment__message {
        font-size: 9px;
    }
}
@media (max-width: 540px){
    .b-comments-list__item{
        width: 400px;
    }
    body {
        font-size: 8px;
    }
    .b-comment .b-comment__message {
        font-size: 8px;
    }
}
@media (max-width: 480px){
    .b-comments-list__item{
        width: 350px;
    }
    body {
        font-size: 7px;
    }
    .b-comment .b-comment__message {
        font-size: 7px;
    }
}
@media (max-width: 360px){
    .b-comments-list__item{
        width: 17500px;
    }
    body {
        font-size: 4px;
    }
    .b-comment .b-comment__message {
        font-size: 4px;
    }
}
@media (max-width: 320px){
    .b-comments-list__item{
        width: 175px;
    }
    body {
        font-size: 4px;
    }
    .b-comment .b-comment__message {
        font-size: 4px;
    }
}
